@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700,700i&display=swap');

body {
  font-family: 'Fira Sans', sans-serif;
}

nav {
  background-color: #d2d20f;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

div .thumbnail {
  margin: 0.7rem;
}

.logo {
  max-width: 80%;
  object-fit: contain;
}

.align {
  float: left;
}

.navbar.scrolled {
  background: #dc1616;
  transition: background 400ms;
}

#brand {
  color: black;
}

#mainNavBar .nav-link {
  color: black;
}

#gallery {
  margin: 4.5rem 1.2rem;
}
